In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time

In [2]:
executable_path = {'executable_path':ChromeDriverManager().install()}
browser = Browser('chrome',**executable_path,headless=False)

[WDM] - Current google-chrome version is 84.0.4147
[WDM] - Get LATEST driver version for 84.0.4147

[WDM] - Get LATEST driver version for 84.0.4147
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/84.0.4147.30/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [C:\Users\amyel\.wdm\drivers\chromedriver\win32\84.0.4147.30]

In [3]:
url= "https://mars.nasa.gov/news/"
#browser.visit(url)

In [4]:

browser.visit(url)

time.sleep(5)

html = browser.html

time.sleep(5)

soup = bs(html, 'html.parser')

In [ ]:
# list_all = soup.find_all("div", class_= "content_title")
# list_all

In [5]:
first_title = soup.find_all("div", class_= "content_title")[1].text.strip()
first_title

"NASA Engineers Checking InSight's Weather Sensors"

In [6]:
text_all = soup.find("div", class_= "article_teaser_body").text
text_all

'An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.'

Mars images

In [7]:
mars_url="https://www.jpl.nasa.gov/"
featured_image_url= "https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18284_ip.jpg"

In [8]:

# browser.visit(mars_url)

# html_mars = browser.html

# soup_mars = bs(html_mars, 'html.parser')

In [ ]:
# image_path = images_soup.find_all('img')[3]["src"]
# featured_image_url = jpl_nasa_url + relative_image_path
# print(featured_image_url)

Mars facts

In [9]:
url_marsfacts = 'https://space-facts.com/mars/'

In [50]:
tables = pd.read_html(url_marsfacts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [43]:
type(tables)

list

In [51]:
tab1=tables[0]
tab1

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [52]:
table=tab1.rename(columns={0: "Description", 1:"Mars"})

In [60]:
table

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [54]:
# table2=table.set_index('Description', inplace=True)

AttributeError: 'NoneType' object has no attribute 'head'

In [61]:
table.to_html("table.html")